body {
    font-family: "Segoe UI";
    background: rgb(82, 84, 190);
    background: linear-gradient(
        0deg,
        rgba(82, 84, 190, 1) 0%,
        rgba(164, 227, 245, 1) 100%
    );
}

h3 {
    margin-top: 0px;
    color: #0c1059;
}

legend {
    font-weight: bold;
}

form {
    background-color: white;
    border: 2px solid #0c1059;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 15px;
}

.login {
	width: 400px;
}

.register {
	width: 400px;
}

.patient {
	width: 720px;
}

.oldPatient {
	width: 885px;
}

.doctor {
	width: 620px;
}

.formHeader {
	
}

.formFields {
	
}

.formElement {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}

.formButtons {
	
}

.infoBox {
	background-color: white;
    border: 2px solid #0c1059;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 15px;
}

.infoHeader {
	
}

.infoFields {
	
}

.infoElements {
	
}

.infoButtons {
	
}

.pageHeader {
	
}

.pageHeaderBar {
	margin-bottom: 30px;
}

.pageHeaderLink {
	display: inline;
    background: linear-gradient(
        0deg,
        rgba(16, 19, 153, 1) 0%,
        rgba(48, 45, 199, 1) 67%,
        rgba(61, 122, 250, 1) 100%
    );
    padding: 15px;
    transition: background 250ms linear;
    border-left: solid 1px #3d7afa;
}

.pageHeaderLink a {
	color: white;
    text-decoration-line: none;
}

.pageHeaderLink:hover {
	background: linear-gradient(
        180deg,
        rgba(16, 19, 153, 1) 0%,
        rgba(48, 45, 199, 1) 67%,
        rgba(61, 122, 250, 1) 100%
    );
}

.button {
    font-family: "Segoe UI";
    padding: 8px 16px;
    border: none;
    color: white;
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.green {
    background-color: #4fdd6e;
}

.blue {
    background-color: #4260e5;
}

.red {
    background-color: #d62a36;
}

.errorMessage {
	font-style: italic;
	color: red;
}
